---
---

$font-family-codes: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-weight-base: 300;
$font-size-base: 1.25rem;

$container-max-widths: (
  sm: 500px,
  md: 600px,
  lg: 680px,
  xl: 725px
);

$findingcolors: (
  user: #f08700,
  time: #efca08,
  country: #00a6a6
);

@import "bootstrap";

* {
  // box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: 0.5em;
  margin-bottom: 1rem;
}

p,
li {
  line-height: 1.58;
  margin-bottom: 1.5rem;
}

p {
  img {
    width: 100%;
  }
}

@include media-breakpoint-down(xs) {
  .container {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
  }
}

@mixin stretch-to-vw() {
  position: relative;
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
}

@mixin stretch-to-80vw() {
  position: relative;
  width: 80vw;
  margin-left: -40vw;
  left: 50%;
}

iframe {
  width: 100%;
  height: 500px;
  border: none;
}

iframe.stretch {
  @include stretch-to-80vw;
}

iframe.plotly-plot {
  margin-top: -24px;
  margin-bottom: -24px;
}

.intro {
  height: 100vh;
  margin-bottom: 36px;

  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .title,
  .desp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
  }

  h1 {
    font-size: 4rem;
    color: white;
    line-height: 1.2;
  }

  h5 {
    color: white;
  }
}

.middle {
  @include stretch-to-vw;
  height: 60vh;
  margin-top: 36px;
  margin-bottom: 36px;
  color: white;

  h1 {
    font-size: 4rem;
    line-height: 1.2;
  }

  h5 {
    font-weight: 300;
    font-family: $font-family-codes;
  }

  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
  }

  .typewrite {
    color: white;
  }
}

main {
  @each $classname, $color in $findingcolors {
    span.#{$classname} {
      color: $color;
    }
  }

  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    padding: 1.2em;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 3.5em;
    line-height: 0.1em;
    margin-right: 6px;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }

  .finding-legend {
    position: relative;
    list-style: none;

    li:before {
      content: " ";
      display: block;
      position: absolute;
      width: 1em;
      height: 1em;
      left: 0;
      margin-top: 6px;
      border-radius: 12px;
    }

    @each $classname, $color in $findingcolors {
      .#{$classname} {
        &::before {
          background-color: $color;
        }
      }
    }
  }

  .description {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 0.8rem;
    font-weight: 200;
  }

  .align-img {
    text-align: center;
  }

  .footnotes {
    margin-top: 4em;
    padding-top: 1em;
    border-top: 5px solid #1D4E89;
    color: #586069;
  }
}

footer {
  margin-top: 2em;
  padding: 5em 0;
  background-color: #1D4E89;
  color: #bbb;

  a, a:hover {
    color: white;
  }

  img {
    width: 20px;
    vertical-align: middle;
  }
}
